<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <form action="/add" method="post">
    <div>
      아이디<input type="text" name="id">
    </div>
    <div>
      채널명<input type="text" name="channelName">
    </div>
    <button>등록</button>
  </form>
  <button class="get">조회</button>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  const btn = document.querySelector(".get");
  btn.addEventListener("click", e => {
    axios.get("/add/get")
      .then(() => {
        
      })
      .catch(err => console.error(err)); 
  });
</script>
</body>
</html>