<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <table class="content-table">
    <thead>
      <tr>
        <th></th>
        <th>채널</th>
        <th>구독자 수</th>
        <th>최근 활동</th>
        <th>팔로우</th>
      </tr>
    </thead>
    <tbody>
      <tr class="active-row">
        <td><img src="https://yt3.ggpht.com/LzBr3K1XPUs1fEwJA1dpcIJNQo7q0gsR3EIwCFFbrH8pZi5AUNYH2iGEE0R5AsMUlR_1J3QnWGE=s88-c-k-c0x00ffffff-no-rj" alt=""></td>
        <td>김종국</td>
        <td>32만</td>
        <td>4시간 전</td>
        <td>팔로우</td>
      </tr>
    </tbody>
  </table>
<script src="/index.js"></script>
</body>
</html>